.metals
.bloop
/project
/target
/vizier.db
/upstream
/.bsp
__pycache__
/bin/vizier
/src/main/resources/__pycache__
.python-version
/out
/node_modules
.coursier
/vizier/src/info/vizierdb/api/servlet/VizierAPIServletRoutes.scala
/vizier/src/info/vizierdb/api/websocket/BranchWatcherAPIRoutes.scala
