<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  
  <!--
    This file controlls logging defaults for Mimir-API when deployed.
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--+++++++++++++++++++++++  Vizier  +++++++++++++++++++++++++-->
  <logger name="info.vizierdb.VizierAPI$"             level="DEBUG" />
  <logger name="info.vizierdb.VizierServlet$"         level="DEBUG" />
  <logger name="info.vizierdb.api.WorkflowSQLRequest" level="TRACE" />
  <logger name="info.vizierdb.catalog.Module"         level="DEBUG" />


    
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>
