<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  
  <!--
    This file controlls logging defaults for Mimir-API when deployed.
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--+++++++++++++++++++++++  Vizier  +++++++++++++++++++++++++-->
  <logger name="info.vizierdb.VizierAPI$"                        level="DEBUG" />
  <logger name="info.vizierdb.VizierServlet$"                    level="DEBUG" />
  <logger name="info.vizierdb.VizierUIServlet$"                  level="TRACE" />
  <logger name="info.vizierdb.api.WorkflowSQLRequest"            level="WARN" />
  <logger name="info.vizierdb.api.AppendModule"                  level="WARN" />
  <logger name="info.vizierdb.catalog.Module"                    level="DEBUG" />
  <logger name="info.vizierdb.viztrails.Scheduler$"              level="TRACE" />

  <!--+++++++++++++++++++++++  Commands  +++++++++++++++++++++++++-->
  <logger name="info.vizierdb.commands.python.Python$"           level="DEBUG" />
  <logger name="info.vizierdb.commands.python.PythonProcess$"    level="WARN" />
  <logger name="info.vizierdb.commands.python.PythonProcess"     level="DEBUG" />
  <logger name="info.vizierdb.commands.python.PythonInterface"   level="DEBUG" />
  <logger name="info.vizierdb.commands.vizual.VizualCommand"     level="DEBUG" />
  <logger name="info.vizierdb.commands.ExecutionContext"         level="WARN" />

  <!--+++++++++++++++++++++++  Commands  +++++++++++++++++++++++++-->
  <logger name="info.vizierdb.export.ImportProject$"             level="DEBUG" />

  <!--+++++++++++++++++++++++  Scalikejdbc  +++++++++++++++++++++++++-->
  <logger name="scalikejdbc.StatementExecutor$PrintableQueryBuilder"  level="TRACE" />
  <logger name="info.vizierdb.catalog.workarounds.SQLiteNoReadOnlyConnection" level="DEBUG" />

  <!--+++++++++++++++++++++++  Jetty  +++++++++++++++++++++++++-->
  <logger name="org.eclipse.jetty.server.Server"                 level="WARN" />
  <logger name="org.eclipse.jetty.server.handler.ContextHandler" level="WARN" />
  <logger name="org.eclipse.jetty.server.ResourceService"        level="WARN" />
  <logger name="org.eclipse.jetty.servlet.ServletHandler"        level="WARN" />
  <logger name="org.eclipse.jetty.servlet.DefaultServlet"        level="WARN" />
  <logger name="org.eclipse.jetty.server.session"                level="WARN" />

    
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>
