@keyframes spinner-rotate {
  0% { 
    transform-origin: center, center;
    transform: rotate(0);
  }
  100% { 
    transform-origin: center, center;
    transform: rotate(360deg);
  }
}

/************ Menu bar ************/

div.content {
  /*padding-top: 30px;*/
  margin-top: 0px;
}

ul.menu_bar
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ccc;
}
ul.menu_bar > li
{
  display: inline-block;
  margin-top: 0px;
  height: 28px;
  padding-top: 7px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  background-color: #336;
  color: #ccc;
  font-weight: bold;
}
ul.menu_bar > li ul
{
  position: absolute;
  top: 35px;
  background: #336;
  padding: 0px;
}
ul.menu_bar > li ul > li
{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
ul.menu_bar > li ul > li.menu_separator
{
  border-bottom: 2px solid darkgrey;
}
ul.menu_bar > li ul > li.highlight
{
  font-weight: bolder;
  color: #eee;
}

/************ Workflow ************/

#workflow
{
  width: calc(100% - 300px);
}

div.add_cell_end_wrapper div.hint {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: gray;
  font-size: 20px;
}

button.add_cell_end {
  height: 50px;
  width: 50px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.module_list { 
  list-style: none;
  padding: 3px;
}

ul.module_list li.module {
  display: flex;
  margin-top: 10px;
}

ul.module_list li.module div.menu {
  min-width: 50px;
  max-width: 50px;
  display: block;
  vertical-align: middle;
  border-radius: 10px 0px 0px 10px;
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.6;
}
ul.module_list li.module.error_state div.menu {
  background-color: #de7e64;
}
ul.module_list li.module.cancelled_state div.menu {
  background-color: #edee3e;
}
ul.module_list li.module.frozen_state div.menu {
  background-color: #319cbc;
}
ul.module_list li.module.running_state div.menu {
  background-color: #135b0e
}
ul.module_list li.module:hover div.menu {
  opacity: 1;
}
ul.module_list li.module.highlight div.menu {
  opacity: 1;
}
ul.module_list li.module div.menu button {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  top: 0px;
  bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 80%;
}
ul.module_list li.module div.menu button tooltip {
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 4px;
  visibility: hidden;
  left: calc(100% + 10px);
}
ul.module_list li.module div.menu button:hover tooltip {
  visibility: visible;
}
ul.module_list li.module div.module_body {
  padding-left: 10px;
}

div.module.select-command {
  margin-top: 10px;
}
div.module.select-command div.header {
  border-bottom: none;
  border-radius: 15px 15px 0px 0px;
  background-color: #ccc;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 16px;
  font-weight: bold;
  color: #111;
}

div.module.select-command ul.command_list {
  padding: 10px;
  list-style: none;
  border: 2px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
}

div.module.select-command div.header button.cancel {
  position: relative;
  top: -3px;
  right: -10px;
  float: right;
  background-color: #fdd;
  font-weight: bold;
  border-radius: 7px;
}



/************ Table of Contents ************/

div.contents 
{
  position: fixed;
  top: 0px;
  right: 0px;
  float: right;
  width: 250px;
  overflow-y: auto;
  font-size: 80%;
  z-index: 10;
  background-color: #fff;
  height: 100%;
  padding-left: 20px;
  margin-top: 0px;
}
div.contents ul
{  
  margin-left: 0px;
  padding-left: 0px;
}
div.contents li
{
  list-style: none;
  margin-top: 10px;
}
div.contents li.tentative
{
  opacity: 0.5;
}

/************ Messages ************/

div.message
{
  font-family: monospace;
}

div.message.error
{
  color: #c00;
  padding: 10px;
  border: 1px solid #c00;
  border-radius: 5px;
  background-color: #fcc;
}

div.vega-embed
{
  min-width: 400px;
}

/************ Data Tables ************/


.data_table
{
  /*background-color: #cfc;*/
}

table.data_table 
{
  border-collapse: collapse;
}

table.data_table thead tr th 
{
  border-left: 2px solid #aaa;  
}
table.data_table tbody tr td 
{
  border-left: 2px solid #aaa;  
  height: 30px;
}

table.data_table td.gutter 
{
  width: 30px;
  font-size: 70%;
  padding: 0px;
  margin: 0px;
  border-left: none;
}

table.data_table thead
{
  /*zIndex: 10;*/
  width: 100%;
  display: block;
  background-color: #ddd;
  top: 0px;
  left: 0px;
  position: -webkit-sticky;
  position: sticky;
}

table.data_table thead tr
{
}

table.data_table thead th .title
{
  display: block;
  font-weight: bold;
  text-align: center;
}
table.data_table thead th .datatype
{
  display: block;
  font-weight: lighter;
  font-size: 70%;
  text-align: center;
}

table.data_table tbody tr.even_row
{
  background-color: #fff;
}

table.data_table tbody tr.odd_row
{
  background-color: #eee;
}

table.data_table tbody tr td
{
  text-align: center;
}

table.data_table tbody tr td.cell.caveatted
{
  color: red;
}
table.data_table tbody tr td.cell.null
{
  background-color: #e9dfdf;
}

table.data_table tbody tr td.error
{
  background-color : #611;
  color : #ccc;
}

table.data_table tbody tr.even_row.caveatted
{
  background-color: #fee;
}

table.data_table tbody tr.odd_row.caveatted
{
  background-color: #edd;
}


/************ Caveats ************/

button.show_caveat
{
  float: right;
  height: 20px;
  width: 15px;
  padding: 0px;
  font-size: 10px;
  text-align: center;
}

a.show_caveat
{
  font-weight: bold;
  color: #600;
}

div.modal_background
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

div.caveat_modal
{
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 40%;
  background: #fff;
  text-align: center;
  overflow-y: scroll;
}

div.caveat_modal .spinner
{
  margin-top: 30px;
}

div.caveat_modal div.caveat
{
  width: calc(100% - 20px);
  text-align: left;
  padding: 10px;
  color: #300;
}

div.caveat_modal div.caveat.even_row
{
  background-color: #fff;
}
div.caveat_modal div.caveat.odd_row
{
  background-color: #eee;
}




/************ Parameters ************/

/* The last child of a parameter list is a "template" placeholder to allow
   adding more records by just typing */
table.parameter_list tbody tr:last-child
{
  opacity: 0.6;
}

table.parameter_list tbody tr:last-child button.delete_row
{
  visibility: hidden;
}
