@keyframes spinner-rotate {
  0% { 
    transform-origin: center, center;
    transform: rotate(0);
  }
  100% { 
    transform-origin: center, center;
    transform: rotate(360deg);
  }
}

/************ Menu bar ************/

div.content {
  padding-top: 30px;
}

ul.menu_bar
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ccc;
}
ul.menu_bar > li
{
  display: inline-block;
  margin-top: 0px;
  height: 28px;
  padding-top: 7px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  background-color: #336;
  color: #ccc;
  font-weight: bold;
}
ul.menu_bar > li ul
{
  position: absolute;
  top: 35px;
  background: #336;
  padding: 0px;
}
ul.menu_bar > li ul > li
{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
ul.menu_bar > li ul > li.menu_separator
{
  border-bottom: 2px solid darkgrey;
}
ul.menu_bar > li ul > li.highlight
{
  font-weight: bolder;
  color: #eee;
}



/************ Table of Contents ************/

div.contents 
{
  position: fixed;
  top: 50px;
  right: 0px;
  float: right;
  width: 300px;
  overflow-y: auto;
}
div.contents ul
{  
  margin-left: 0px;
  padding-left: 0px;
}
div.contents li
{
  list-style: none;
  margin-top: 10px;
}
div.contents li.tentative
{
  opacity: 0.5;
}

/************ Data Tables ************/


.data_table
{
  /*background-color: #cfc;*/
}

table.data_table 
{
  border-collapse: collapse;
}

table.data_table thead tr th 
{
  border-left: 2px solid #aaa;  
}
table.data_table tbody tr td 
{
  border-left: 2px solid #aaa;  
  height: 30px;
}

table.data_table td.gutter 
{
  width: 30px;
  font-size: 70%;
  padding: 0px;
  margin: 0px;
  border-left: none;
}

table.data_table thead
{
  /*zIndex: 10;*/
  width: 100%;
  display: block;
  background-color: #ddd;
  top: 0px;
  left: 0px;
  position: -webkit-sticky;
  position: sticky;
}

table.data_table thead tr
{
}

table.data_table thead th .title
{
  display: block;
  font-weight: bold;
  text-align: center;
}
table.data_table thead th .datatype
{
  display: block;
  font-weight: lighter;
  font-size: 70%;
  text-align: center;
}

table.data_table tbody tr.even_row
{
  background-color: #fff;
}

table.data_table tbody tr.odd_row
{
  background-color: #eee;
}

table.data_table tbody tr td
{
  text-align: center;
}

table.data_table tbody tr td.caveatted
{
  color: red;
}

table.data_table tbody tr.even_row.caveatted
{
  background-color: #fee;
}

table.data_table tbody tr.odd_row.caveatted
{
  background-color: #edd;
}


/************ Caveats ************/

button.show_caveat
{
  float: right;
  height: 20px;
  width: 15px;
  padding: 0px;
  font-size: 10px;
  text-align: center;
}

a.show_caveat
{
  font-weight: bold;
  color: #600;
}

div.modal_background
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

div.caveat_modal
{
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 40%;
  background: #fff;
  text-align: center;
  overflow-y: scroll;
}

div.caveat_modal .spinner
{
  margin-top: 30px;
}

div.caveat_modal div.caveat
{
  width: calc(100% - 20px);
  text-align: left;
  padding: 10px;
  color: #300;
}

div.caveat_modal div.caveat.even_row
{
  background-color: #fff;
}
div.caveat_modal div.caveat.odd_row
{
  background-color: #eee;
}




/************ Parameters ************/

/* The last child of a parameter list is a "template" placeholder to allow
   adding more records by just typing */
table.parameter_list tbody tr:last-child
{
  opacity: 0.6;
}

table.parameter_list tbody tr:last-child button.delete_row
{
  visibility: hidden;
}
