/******** Color Scheme ***********/
$alt_row_grey: #ddd;
$deemphasize_alpha: 0.6;
$background_grey: #ddd;
$background_grey_deemphasized: #ebebeb;
$background_error: #de7e64;
$background_cancelled: #edee3e;
$background_frozen: #319cbc;
$background_running: #135b0e;
$background_highlight: #aaa;
$red_button: #c00; 
$green_button: #292;
$button_shadow: #bbb;

a         { color: blue; }
a:visited { color: blue; }

/***** Layers (z-index) **********/

$toc_layer: 10;
$tooltip_layer: 20;

/********* Animations ************/

@keyframes spinner-rotate 
{
  0% { 
    transform-origin: center, center;
    transform: rotate(0);
  }
  100% { 
    transform-origin: center, center;
    transform: rotate(360deg);
  }
}


/************ Project List ************/

div.project_list_wrapper 
{
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
ul.project_list 
{
  list-style: none;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}
ul.project_list li
{
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  height: 40px;
}

ul.project_list li.odd
{
  background-color: $alt_row_grey;
}

ul.project_list li a
{
  font-size: 120%;
  flex-grow: 1;
  height: 100%;
  font-weight: bold;
  padding-left: 10px;
  display: table;
}
ul.project_list li a span
{
  display: table-cell;
  vertical-align: middle;
}
ul.project_list li span.dates
{
  flex-grow: 0;
  font-size: 80%;
  color: gray;
  display: table;
}
ul.project_list li span.dates div.date_valign
{
  display: table-cell;
  vertical-align: middle;
}
div.project_list_wrapper button.create_project
{
  height: 50px;
  width: 50px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.project_list_wrapper div.hint 
{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: gray;
  font-size: 20px;
  margin-bottom: 10px;
}

div.project_list_wrapper div.create_project_form 
{
  margin: 10px;
}
div.project_list_wrapper div.create_project_form input
{
  max-width: 400px;
}


/************ Workflow ************/

#workflow
{
  width: calc(100% - 300px);
}

div.add_cell_end_wrapper div.hint 
{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: gray;
  font-size: 20px;
}

button.add_cell_end 
{
  height: 50px;
  width: 50px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// The overall module list
ul.module_list 
{ 
  list-style: none;
  padding: 3px;

  // An individual module (tentative or real)
  li.module 
  {
    display: flex;
    margin-top: 10px;

    // The menu is the "tab" to the left of each module
    div.menu 
    {
      min-width: 50px;
      max-width: 50px;
      display: block;
      vertical-align: middle;
      border-radius: 10px 0px 0px 10px;
      background-color: $background_grey;
      padding-top: 10px;
      padding-bottom: 10px;

      // Blur the menu slightly so that we can emphasize it with
      // a mouse-over or other highlight.
      opacity: $deemphasize_alpha;

      // Buttons in the menu
      button
      {
        width: 35px;
        height: 35px;
        margin-top: 5px;
        top: 0px;
        bottom: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 80%;
      }
    }

    // Color the menu based on the module's lifecycle state
    &.error_state 
    {
      div.menu { background-color: $background_error; }
    }
    &.cancelled_state 
    {
      div.menu { background-color: $background_cancelled; }
    }
    &.frozen_state
    {
      div.menu { background-color: $background_frozen; }
    }
    &.running_state
    {
      div.menu { background-color: $background_running; }
    }
    &.running_state
    {
      div.menu { background-color: $background_running; }
    }

    // Deblur the menu when the module is moused over
    &:hover
    {
      div.menu { opacity: 1; }
    }
    // Deblur and emphasize the menu when the module is moused over in the ToC
    &.highlight
    {
      div.menu
      {
        opacity: 1;
        background-color: $background_highlight;
      }
    }

    div.module_body
    {
      padding-left: 0px;
      max-width: 100%;
      min-width: 400px;

      div.status
      {
        font-size: 80%;
        font-family: monospace;
        margin: 5px;

        span.label
        {
          font-weight: bold;
        }
      }

      div.summary
      {
        width: auto;
        background-color: $background_grey_deemphasized;
        border-left: none;
        padding-left: 10px;
        padding-right: 20px;
        border-radius: 0px 10px 10px 0px;
        display: inline-block;
        font-size: 120%;
        font-weight: bold;

        &.hidden
        {
          visibility: hidden;
          // pull the rendering out of the flow.
          position: fixed;
        }
      }

      div.editor
      {
        padding-left: 10px;
      }
    }

    div.select_command
    {
      div.command_search
      {
        border: 1px solid gray;
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px;
        display: flex;

        i.fa {
          flex-grow: 0;
        }

        button {
          flex-grow: 0;
        }

        input {
          margin-left: 5px;
          border: none;
          flex-grow: 1;
        }
      }

      ul.command_list
      {
        padding: 10px;
        list-style: none;

        li { margin-top: 10px; }

        button.command 
        { 
          opacity: 0.5;
          margin: 3px;

          &:hover
          {
            opacity: 1;
          }

          &.suggested
          {
            opacity: 1;
            box-shadow: 1px 1px 2px $background_highlight;
          }
        }
      }
    }

    div.editor_actions
    {
      margin-top: 20px;
      width: 100%;
      display: flex;
      padding-left: 5px;
      padding-right: 5px;

      button
      {
        width: 160px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 3px;
        font-weight: bold;
        flex-grow: 0;

        &.cancel
        {
          border-color: $red_button;
          i.fa { color: $red_button; }
        }
        &.save
        {
          border-color: $green_button;
          i.fa { color: $green_button; }
        }
      }

      div.spacer
      { 
        flex-grow: 1;
      }
    }
  }
}

/************ Table of Contents ************/

div.contents 
{
  position: fixed;
  top: 0px;
  right: 0px;
  float: right;
  width: 250px;
  overflow-y: auto;
  font-size: 80%;
  z-index: $toc_layer;
  background-color: #fff;
  height: 100%;
  padding-left: 20px;
  margin-top: 0px;
}
div.contents ul
{  
  margin-left: 0px;
  padding-left: 0px;
}
div.contents li
{
  list-style: decimal;
  margin-top: 7px;
  font-weight: bold;
}
div.contents li::marker
{
  font-weight: lighter;
  font-size: 80%;
}
div.contents li a
{
  text-decoration: none;
}
div.contents li a:visited
{
  color: blue;
}
div.contents li.tentative
{
  opacity: 0.5;
}

/************ Messages ************/

div.module_body div.messages ul
{
  padding-left: 20px;
  padding-top: 10px;
}

div.message
{
  font-family: monospace;
}

div.message.error
{
  color: #c00;
  padding: 10px;
  border: 1px solid #c00;
  border-radius: 5px;
  background-color: #fcc;
}

div.message div.header
{
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  border-bottom: none;
  min-width: 200px;
  max-width: calc(100% - 200px);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.message div.header h3
{
  margin: 0px;
  margin-right: 20px;
  display: inline;
}
div.message div.header a
{
  vertical-align: baseline;
  text-decoration: none;
}
div.message div.header i.fa
{
  display: inline;
  position: relative;
  vertical-align: baseline;
  top: 1px;
  left: -8px;
  font-size: 90%;
}

div.vega-embed
{
  min-width: 400px;
}

/************ Data Tables ************/


.data_table
{
  /*background-color: #cfc;*/
}

table.data_table 
{
  border-collapse: collapse;
}

table.data_table thead tr th 
{
  border-left: 2px solid #aaa;  
}
table.data_table tbody tr td 
{
  border-left: 2px solid #aaa;  
  height: 30px;
}

table.data_table td.gutter 
{
  width: 30px;
  font-size: 70%;
  padding: 0px;
  margin: 0px;
  border-left: none;
}

table.data_table thead
{
  /*zIndex: 10;*/
  width: 100%;
  display: block;
  background-color: #ddd;
  top: 0px;
  left: 0px;
  position: -webkit-sticky;
  position: sticky;
}

table.data_table thead tr
{
}

table.data_table thead th .title
{
  display: block;
  font-weight: bold;
  text-align: center;
}
table.data_table thead th .datatype
{
  display: block;
  font-weight: lighter;
  font-size: 70%;
  text-align: center;
}

table.data_table tbody tr.even_row
{
  background-color: #fff;
}

table.data_table tbody tr.odd_row
{
  background-color: #eee;
}

table.data_table tbody tr td
{
  text-align: center;
}

table.data_table tbody tr td.cell.caveatted
{
  color: red;
}
table.data_table tbody tr td.cell.null
{
  background-color: #e9dfdf;
}

table.data_table tbody tr td.error
{
  background-color : #611;
  color : #ccc;
}

table.data_table tbody tr.even_row.caveatted
{
  background-color: #fee;
}

table.data_table tbody tr.odd_row.caveatted
{
  background-color: #edd;
}


/************ Caveats ************/

button.show_caveat
{
  float: right;
  height: 20px;
  width: 15px;
  padding: 0px;
  font-size: 10px;
  text-align: center;
}

a.show_caveat
{
  font-weight: bold;
  color: #600;
}

div.modal_background
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

div.caveat_modal
{
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 40%;
  background: #fff;
  text-align: center;
  overflow-y: scroll;
}

div.caveat_modal .spinner
{
  margin-top: 30px;
}

div.caveat_modal div.caveat
{
  width: calc(100% - 20px);
  text-align: left;
  padding: 10px;
  color: #300;
}

div.caveat_modal div.caveat.even_row
{
  background-color: #fff;
}
div.caveat_modal div.caveat.odd_row
{
  background-color: #eee;
}

/************ Editor ************/

/* The last child of a parameter list is a "template" placeholder to allow
   adding more records by just typing */
table.parameter_list tbody tr:last-child
{
  opacity: 0.6;
}

table.parameter_list tbody tr:last-child button.delete_row
{
  visibility: hidden;
}

div.module.editable.load_dataset 
{
  width: calc(100% - 20px);
  border: 1px solid lightgray;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  padding: 10px;
}
div.module.editable.load_dataset div.header
{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
div.module.editable.load_dataset div.back_button_wrapper
{
  width: 40px;
  flex-grow: none;
}
div.module.editable.load_dataset div.url
{
  flex: 1 1 auto;
}
div.module.editable.load_dataset div.url input 
{
  width: calc(100% - 5px);
}
div.module.editable.load_dataset div.url label 
{
  width: 50px;
}
div.module.editable.load_dataset div.file_browser
{
  width: 100%;
  border: 1px solid black;
}
div.module.editable.load_dataset .reactive
{
  display: flex;
  width: 100%;
  height: 100%;
}
div.module.editable.load_dataset .spinner
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div.module.editable.load_dataset div.file_list
{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
}
div.module.editable.load_dataset div.file_list div.file
{
  width: 150px;
  height: 20px;
  margin: 5px;
  background-color: #ddd;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
}
div.module.editable.load_dataset div.file_list div.file span.label
{
  margin-left: 5px;
}
div.module.editable.load_dataset div.format_field
{
  margin-top: 10px;
  display: flex;
}
div.module.editable.load_dataset div.format_field select
{
  margin-left: 10px;
  flex: 1 1 auto;
}

/********* Systemwide Button Settings ************/
button
{
  box-shadow: 1px 1px 3px $button_shadow;

  &:active
  {
    box-shadow: 0px 0px 1px $button_shadow;
    position: relative;
    left: 1px;
    top: 1px;
  }

  // The mouseover tooltip for the button
  tooltip
  {
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    z-index: $tooltip_layer;
    top: 4px;
    visibility: hidden;
    left: calc(100% + 10px);
  }

  &:hover tooltip
  {
    visibility: visible;
  }
}